.aboutus {
  background-image: url(../src/assets/contact-bg.png);
  height: 100vh;
  width: 100vw;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
