.books {
  position: absolute;
  bottom: 5%;
  right: 5%;
  z-index: 5;
  height: 35vh;
  display: flex;
  margin-top: 15px;
  gap: 20px;
  width: 37vw;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  transition: all 1s ease;

  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }

  &-img {
    width: 20vh;
    height: 30vh;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    transition: all 0.5s ease;
    &:hover {
      cursor: url("../src/assets/knife-mid.png"), auto;
    }
  }

  &-box {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 8;
    top: 0;
    left: 0;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 3px solid transparent;
    transition: all 0.5s ease;

    &:hover {
      backdrop-filter: blur(2px);
      background-color: rgba(0, 0, 0, 0.599);
      margin-right: 2px;
      margin-left: 3px;
      width: 23vh;
      height: 34vh;
      cursor: url("../src/assets/knife-mid.png"), auto;
      border-color: $red;
    }

    &-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 8;
      color: white;
      text-transform: uppercase;
      width: 150px;
      text-align: center;
    }
  }
  &-content {
    position: absolute;
    z-index: 5;
    width: 35vw;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    padding: 2em;
    height: 70%;
    overflow-y: scroll;
    border-radius: 1.5em;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: linear-gradient(135deg, black, rgb(51, 51, 51));
    border: 2px solid $red;

    &::-webkit-scrollbar {
      display: none;
      scrollbar-width: none;
    }
  }

  &-btn,
  &-btn1 {
    height: 30vh;
    position: absolute;
    bottom: calc(7% + 5px);
    z-index: 5;
    @include button2;
    padding: 0 0.5em;
  }
  &-btn {
    right: 2%;
  }
  &-btn1 {
    right: 43%;
  }

  &-details {
    position: absolute;
    z-index: 5;
    left: 58%;
    top: 25%;
    width: 30%;
    display: flex;
    flex-direction: column;
  }

  &-main-info {
    top: 12%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 5;
    position: absolute;
    left: 73%;
    transform: translateX(-50%);
    width: 30%;
  }

  &-scroll-buttons {
    position: absolute;
    bottom: 4%;
    left: 25%;
    z-index: 5;
    display: flex;
    gap: 40px;
  }
}
