.btn:hover ~ .drip-1 {
  height: 25px;
}

.btn:hover ~ .drip-2 {
  height: 60px;
}

.btn:hover ~ .drip-3 {
  height: 15px;
}

.btn:hover ~ .drip {
  height: 10px;
}

.btn1:hover ~ .drip-1 {
  height: 25px;
}

.btn1:hover ~ .drip-2 {
  height: 60px;
}

.btn1:hover ~ .drip-3 {
  height: 15px;
}

.btn1:hover ~ .drip {
  height: 10px;
}

.drip {
  position: absolute;
  background: $red;
  border-radius: 50% 50% 0 0;
  top: -7px;
  transition: height 0.5s ease;
  width: 100%;
  right: 0;
  &:hover {
    height: 10px;
  }
}

.drip-1 {
  position: absolute;
  width: 7px;
  height: 0px;
  border-radius: 0 0 21px 21px;
  background: $red;
  transition: height 0.6s ease;
  right: 0;
  top: 0;

  &:hover {
    height: 25px;
  }
}

.drip-2 {
  position: absolute;
  width: 10px;
  height: 0px;
  border-radius: 0 0 21px 21px;
  background: $red;
  transition: height 0.8s ease;
  left: 0;
  top: 0;

  &:hover {
    height: 60px;
  }
}

.drip-3 {
  position: absolute;
  width: 5px;
  height: 0px;
  border-radius: 0 0 21px 21px;
  background: $red;
  margin: 0px 10px;
  transition: height 0.3s ease;
  top: 0;
  right: 0;

  &:hover {
    height: 15px;
  }
}

.btn,
.btn1 {
  background-color: $red-transparent;
  color: $white-fonts;
  border: none;
  height: 225px;
}

.nav-button:hover ~ .drip-1 {
  height: 25px;
}

.nav-button:hover ~ .drip-2 {
  height: 60px;
}

.nav-button:hover ~ .drip-3 {
  height: 15px;
}

.nav-button:hover ~ .drip {
  height: 10px;
}

.movies-nav:hover ~ .drip-1 {
  height: 25px;
}

.movies-nav:hover ~ .drip-2 {
  height: 60px;
}

.movies-nav:hover ~ .drip-3 {
  height: 15px;
}

.movies-nav:hover ~ .drip {
  height: 10px;
}
