.games {
  position: absolute;
  bottom: 7%;
  left: 15%;
  width: 75%;
  height: 150px;
  z-index: 5;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
  gap: 20px;

  &-img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    cursor: url(../src/assets/knife-mid.png), pointer;
  }

  &-scroll {
    position: absolute;
    bottom: 7%;
    left: 12%;
    padding: 0 0.5em;
    height: 150px;
    z-index: 5;
    @include button2;
  }

  &-buttons {
    position: absolute;
    width: 43%;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    justify-content: space-between;
  }

  &-button {
    width: 200px;
    padding: 0.5em;
    @include button2;
  }

  &-card {
    position: absolute;
    top: 10%;
    left: 30%;
    z-index: 5;
    width: 35%;
    height: 50%;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
      scrollbar-width: none;
    }
  }

  &-title {
    position: absolute;
    top: 20%;
    right: 10%;
    z-index: 5;
  }
}
