.index {
  width: 60vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  float: right;
  z-index: 0;
  position: relative;
  right: -40%;

  &-gradient {
    background: linear-gradient(
      90deg,
      black 60%,
      rgba(0, 0, 0, 0.99) 63%,
      rgba(0, 0, 0, 0.97) 66%,
      rgba(0, 0, 0, 0.94) 70%,
      rgba(0, 0, 0, 0)
    );
    width: 100vw;
    height: 100vh;
    z-index: 3;
    position: absolute;
  }

  &-review {
    @include review;
    background-color: $transparent-bg;
  }
  &-main {
    @include review;
    text-align: center;
    backdrop-filter: unset;
  }
  &-background {
    background-image: url(../src/assets/bg19.png);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: 3;
  }
}

.main {
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
}
