.movies {
  height: 78vh;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 25vw;
  left: 8vw;
  //   background-color: $transparent-bg;
  z-index: 4;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }

  &-poster {
    width: 15vw;
    height: 20vh;
    object-fit: cover;
    object-position: top;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    border-right: 3px solid transparent;
    transition: border-width 1s ease;

    &:hover {
      border-width: 100px;
      border-color: $red-transparent;
      width: 17vw;
      height: 22vh;
      margin-top: 2px;
      margin-bottom: 3px;
      cursor: url("../src/assets/knife-mid.png"), auto;
    }
  }
  &-nav {
    height: 2em;
    width: 15.25vw;
    font-size: 30px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    @include button2;
  }
  &-btn {
    position: absolute;
    left: 8vw;
    bottom: 10px;
    z-index: 5;
    margin-left: -5px;
  }
  &-btn-top {
    position: absolute;
    left: 8vw;
    top: 15px;
    z-index: 5;
    margin-left: -5px;
  }

  &-details-btn {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 0.5em 1em;
    width: 150px;
    @include button2;
  }

  &-categories {
    position: absolute;
    top: 40%;
    width: 70%;
    gap: 2em;
    display: flex;
    flex-wrap: wrap;
    left: 13%;

    &-button {
      padding: 0.5em 1em;
      width: 200px;
      @include button2;
    }
  }

  &-scroll-review {
    position: absolute;
    bottom: 0;
    left: 35%;
    @include button2;
  }

  &-copyrights {
    position: absolute;
    bottom: 22px;
    right: 50px;
    z-index: 6;
    font-size: 14px;
  }

  &-container {
    position: relative;
    z-index: 8;
  }
}

.card {
  @include review;

  &-side {
    height: 75%;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 5%;
    left: 0;
    width: 70%;
    padding: 2em;
    // background-color: $transparent-bg;
    background: linear-gradient(135deg, black, rgb(51, 51, 51));
    @include card;
    border: 2px solid $red;
  }
  &-back {
    transform: rotateY(-180deg);
  }
}
