.movies {
  height: 85vh;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 25vw;
  left: 8vw;
  //   background-color: $transparent-bg;
  z-index: 4;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }

  &-poster {
    width: 15vw;
    height: 20vh;
    object-fit: cover;
    object-position: top;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    border-right: 3px solid transparent;
    transition: all 0.5s ease;

    &:hover {
      cursor: url("../src/assets/knife-mid.png"), auto;
    }
  }

  &-title-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    border-right: 3px solid transparent;
    transition: all 0.3s ease;
    &:hover {
      border-color: $red;
      width: 17vw;
      height: 22vh;
      margin-top: 2px;
      margin-bottom: 3px;
      background-color: rgba(0, 0, 0, 0.645);
      backdrop-filter: blur(2px);
      cursor: url("../src/assets/knife-mid.png"), auto;
    }
  }

  &-box {
    position: relative;
    width: 15vw;
    height: 20vh;
    margin-top: 10px;
    margin-bottom: 10px;

    &-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 8;
      color: white;
      text-transform: uppercase;
      width: 200px;
      text-align: center;
    }
  }

  &-nav {
    padding: 0.5em 0;
    width: 15.25vw;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    @include button2;
  }
  &-btn {
    position: absolute;
    left: 8vw;
    bottom: 10px;
    z-index: 5;
    margin-left: -5px;
  }
  &-btn-top {
    position: absolute;
    left: 8vw;
    top: 15px;
    z-index: 5;
    margin-left: -5px;
  }

  &-details-btn {
    position: absolute;
    top: 50%;
    right: -10%;
    padding: 0.5em 1em;
    width: 150px;
    @include button2;
  }

  &-categories {
    position: absolute;
    top: 55%;
    width: 50%;
    justify-content: center;
    align-items: center;
    gap: 2em;
    display: flex;
    flex-wrap: wrap;
    left: 50%;
    z-index: 6;
    transform: translate(-50%, -50%);

    &-button {
      padding: 0.5em 1em;
      width: 200px;
      @include button2;
    }
  }

  &-scroll-review {
    position: absolute;
    bottom: 0;
    left: 30%;
    @include button2;
  }

  &-copyrights {
    position: absolute;
    bottom: 22px;
    right: 50px;
    z-index: 6;
    font-size: 14px;
  }

  &-container {
    position: relative;
    z-index: 8;
  }
}

.card {
  @include review;

  &-side {
    height: 75%;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 5%;
    left: 0;
    width: 70%;
    padding: 2em;
    border-radius: 1.5em;
    background: linear-gradient(135deg, black, rgb(51, 51, 51));
    @include card;
    border: 2px solid $red;
  }
  &-back {
    transform: rotateY(-180deg);
  }
}
