.nav {
  width: 5vw;
  height: 100vh;
  background-color: $transparent-bg;
  z-index: 5;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &-button {
    width: 5vw;
    height: 5vw;
    @include button(0);
  }
}
