.bg-photo {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  left: -30%;
  background-position: center;
}
.bg-black {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 3;
  top: 0;
}

.header-title {
  position: absolute;
  z-index: 4;
  top: 15%;
  left: 43%;
  font-weight: 300;
}

.series {
  &-title {
    text-shadow: 2px 2px 2px black, 2px 2px 2px black;
    width: 250px;
    text-align: center;
  }

  &-scroll-button {
    width: 100px;
    @include button2;
    padding: 10px 0;
  }

  &-menu-container {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);

    &-buttons {
      display: flex;
      flex-direction: column;
      margin-top: 2em;
      gap: 1em;
      align-items: center;
    }

    &-button {
      width: 150px;
      @include button2;
      padding: 10px 0;
    }
  }

  &-review {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
      scrollbar-width: none;
    }
  }
  &-vid {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 560px;
    display: none;
  }
  &-text {
    position: relative;
    top: 7%;
    left: 5%;
    width: 90%;
    margin-bottom: 5em;
    color: $white-inactive;
  }

  &-details p {
    color: $white-inactive;
  }

  &-scroll-review {
    @include button2;
    padding: 0 0.5em;
  }
}

#visible-scrollbox {
  position: absolute;
  width: 60vw;
  height: 88vh;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  scroll-behavior: smooth;
}

#content {
  position: absolute;
  left: -100px;
  width: 70vw;
}

#scroll-circle {
  position: relative;
  width: 92vh;
  height: 92vh;
  float: left;
  shape-outside: circle();
  top: 50%;
  transform: translateY(-50%);
}
#control-scrollbox {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translatey(-50%);
  width: 5vw;
  height: 88vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
  &:hover {
    cursor: url("../src/assets/scroll.png"), ns-resize;
  }
}

#scroll-length {
  height: 1300px;
}

.series-img {
  width: 230px;
  height: 150px;
  object-fit: cover;
  position: relative;
  cursor: url(../src/assets/knife-mid.png), pointer;
  z-index: 9;
  pointer-events: all;

  &-container {
    padding-bottom: 30px;
    position: relative;
  }
}

.series-card {
  width: 95vh;
  height: 85vh;
  position: absolute;
  top: 10%;
  left: 28%;
  perspective: 200rem;
  z-index: 5;
  @include card;

  &-side {
    transition: all 0.8s ease;
    backface-visibility: hidden;
    width: 75vh;
    height: 65vh;
    padding: 2em;
    position: absolute;
    top: 2%;
    left: 2%;
    background: linear-gradient(135deg, black, rgb(51, 51, 51));
    border: 2px solid $red;
    border-radius: 20%;
  }

  &-back {
    transform: rotateZ(-360deg);
  }
}
