.bg-photo {
  background-image: url(../src/assets/ahs2.jpg);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  left: -30%;
  background-position: center;
}
.bg-black {
  background-image: url(../src/assets/bg5.png);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 3;
  top: 0;
}

.header-title {
  position: absolute;
  z-index: 4;
  top: 15%;
  left: 43%;
  font-weight: 300;
}
