.horror-title {
  @include tablet {
    font-size: 50px;
  }
  @include mobile {
    font-size: 30px;
  }

  animation: glitch 5s linear infinite;
  font-size: 90px;
  color: $red;

  &:before,
  &:after {
    content: attr(title);
    position: absolute;
    left: 0;
  }

  &:before {
    animation: glitchTop 7s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }

  &:after {
    animation: glitchBotom 2s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
}

.title {
  @include tablet {
    top: 20%;
    left: 20%;
  }

  position: absolute;
  top: 30%;
  left: 30%;
}

.header-title-series,
.header-title-books {
  position: absolute;
  z-index: 4;
  top: 15%;
  left: 40%;
  font-weight: 300;
}

.header-title {
  position: absolute;
  z-index: 4;
  top: 15%;
  left: 43%;
  font-weight: 300;
}

.header-title-games {
  position: absolute;
  z-index: 4;
  top: 15%;
  left: 45%;
  font-weight: 300;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}
