@keyframes flicker {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 0.6;
  }
  15% {
    opacity: 0.85;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.25;
  }
  45% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.85;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

// animation: flicker s linear infinite;
// ::after {
//   content: "";
//   -webkit-box-shadow: -35px 0px 60px 8px rgba(255, 255, 255, 1);
//   -moz-box-shadow: -35px 0px 60px 8px rgba(255, 255, 255, 1);
//   box-shadow: -35px 0px 60px 8px rgba(255, 255, 255, 1);
// }

@keyframes width {
  from {
    width: 100vw;
  }
  to {
    width: 120vw;
  }
}

@keyframes rotate {
  from {
    transform: unset;
  }
  to {
    transform: rotateYę(180deg);
  }
}

@keyframes appear {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  30% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotateY(-180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes info {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

@keyframes moveleft2 {
  from {
    left: 17vw;
  }

  to {
    left: 0;
  }
}

@keyframes moveleft3 {
  from {
    left: 34vw;
  }

  to {
    left: 0;
  }
}

@keyframes moveleft4 {
  from {
    left: 51vw;
  }

  to {
    left: 0;
  }
}
