@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin desktops {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin review {
  perspective: 150rem;
  width: 50vw;
  height: 70vh;
  position: absolute;
  left: 30%;
  top: 12%;
  z-index: 5;
  flex-direction: column;
  padding: 2em;
}

@mixin button($padding) {
  padding: $padding;
  border: none;
  background-color: transparent;
  color: $white-inactive;
  font-size: 20px;

  &:hover {
    color: $white-fonts;
    // backdrop-filter: blur(10px);
  }
  &:active {
    color: white;
  }
}

@mixin button2 {
  border: 2px solid transparent;
  background-color: black;
  color: $white-inactive;
  transition: all 0.5s ease;
  border-radius: 5px;
  &:hover {
    color: $white-fonts;
    backdrop-filter: blur(10px);
    border: 2px solid $red;
  }
  &:active {
    background-color: $red-transparent;
  }
}

@mixin card {
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
}
