$mobile-width: 460px;
$tablet-width: 960px;

$font-main: "Montserrat", sans-serif;

$transparent-bg: rgba(255, 255, 255, 0.09);
$red-transparent: rgba(162, 6, 6, 0.29);
$white-fonts: rgb(210, 210, 210);
$red: rgb(144, 7, 7);
$white-inactive: rgb(144, 144, 144);
$black-semi: rgba(0, 0, 0, 0.505);
