body {
  box-sizing: border-box;
  font-family: $font-main;
  font-size: 16px;
  color: $white-fonts;
  @include desktops {
    font-size: 18px;
  }
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

h1 {
  font-size: 25px;
  color: $red;
}

button {
  font-family: $font-main;
  color: $white-inactive;
}
