body {
  box-sizing: border-box;
  font-family: $font-main;
  font-size: 16px;
  color: $white-fonts;
  background-color: black;
  caret-color: transparent;

  &::-moz-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-color: transparent transparent;
  ::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }

  @include desktops {
    font-size: 17px;
  }
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

h1 {
  font-size: 25px;
  color: $red;
}

button {
  font-family: $font-main;
  color: $white-inactive;
}

h2 {
  font-size: 25px;
  font-weight: 500;
  color: rgb(202, 0, 0);
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.652);
}

.tooltip {
  position: absolute;
  top: 50%;
  right: 35px;
  z-index: 10;
  width: 80px;
  transform: translateY(-50%);
  font-size: 13px;
  animation: appear 1.2s linear;
}

p,
label,
span {
  color: $white-inactive;
}

figure {
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
  width: 100%;
}
iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
::-webkit-scrollbar {
  display: none;
}
@-moz-document url-prefix() {
  html,
  body {
    scrollbar-width: none;
  }
}

input,
textarea {
  caret-color: $red;
}
